body 
{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:gray;
    width: 100vw;
    height: 120vh;
    
}

#bg
{
    background-color:rgb(250, 243, 215);
    padding:30px;
   
}



#row-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 99%; 
    margin: 3px;    
}

#column-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    width:100%;
}


#row
{
    display:flex;
}

#column
{
    display:flex;
    flex-direction:column;
}



#box1
{   
background-image: url("panda1.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 1%;
background-size: 200px 500px;
width: 150px;
height:410px;
margin:5px;
}

#box2
{   
background-image: url("cat1.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 1%;
background-size: 200px 500px;
width: 150px;
height:410px;
margin: 5px;
}

#box3
{   
background-image: url("miming5.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 1%;
background-size: 210px 300px;
width: 220px;
height:300px;
margin: 5px;
}

#box4
{   
background-image: url("miming2.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 0%;
background-size: 100px 100px;
width: 100px;
height:100px;
margin: 5px;
}

#box5
{   
background-image: url("miming6.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 1%;
background-size: 200px 200px;
width: 100px;
height:100px;
margin: 5px;
}

#box6
{   
background-image: url("panda2.jpg");
background-repeat: no-repeat;
background-position-x: 20%;
background-position-y: 1%;
background-size: 200px 500px;
width: 150px;
height:410px;
margin:5px;
}

#box7
{   
background-image: url("panda3.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 1%;
background-size: 200px 500px;
width: 150px;
height:410px;
margin:5px;
}

#box8
{   
background-image: url("cat2.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 1%;
background-size: 250px 300px;
width: 130px;
height:200px;
margin:5px;
}

#box9
{   
background-image: url("tiger.jpg");
background-repeat: no-repeat;
background-position-x: 1%;
background-position-y: 1%;
background-size: 250px 300px;
width: 130px;
height:200px;
margin:5px;
}

#box10
{   
background-image: url("otter.jpg");
background-repeat: no-repeat;
background-position-x: 30%;
background-position-y: 1%;
background-size: 250px 300px;
width: 130px;
height:200px;
margin:5px;
}

#box11
{   
background-image: url("otters.jpg");
background-repeat: no-repeat;
background-position-x: 20%;
background-position-y: 50%;
background-size: 500px 200px;
width: 410px;
height:150px;
margin:5px;
}

#box12
{   
background-image: url("cat3.jpg");
background-repeat: no-repeat;
background-position-x: 20%;
background-position-y: 50%;
background-size: 300px 400px;
width: 150px;
height:360px;
margin:5px;
}

#box13
{   
background-image: url("ottermaybe.jpg");
background-repeat: no-repeat;
background-position-x: 20%;
background-position-y: 50%;
background-size: 200px 200px;
width: 135px;
height:150px;
margin:5px;
}

#box14
{   
background-image: url("cat4.jpg");
background-repeat: no-repeat;
background-position-x: 20%;
background-position-y: 50%;
background-size: 200px 200px;
width: 135px;
height:150px;
margin:5px;
}

#box15
{   
background-image: url("cat6.jpg");
background-repeat: no-repeat;
background-position-x: 20%;
background-position-y: 60%;
background-size: 300px 200px;
width: 279px;
height:200px;
margin:5px;
}